<div id="div_id_online_store_charge" class="form-group">
    <label for="id_online_store_charge" class="control-label col-sm-2">
        Online store charge<span class="asteriskField">*</span>
    </label>
    <div class="controls col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="numberinput form-control" id="id_online_store_charge"
                    name="online_store_charge" step="0.01" min="0" type="number"  required/>
            <span class="input-group-addon">
                <input type="checkbox" id="id_online_store_charge_chkbox" onchange="calcOnlineStoreCharge()">
            </span>
        </div>
    </div>
</div>