{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
    <link rel="stylesheet" href="{% static 'operations/css/operations.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'operations/js/operations.js' %}"></script>
</head>

<body>
{% block header %}
{% include "operations/_header.html" %}
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h4 class="sub-header">Sign up to receive a Fusspot & Foodie discount coupon!</h4>
            <form action="{% url 'operations:promo-signup' %}" method="post" class="form-horizontal" id="id_promo_signup_form">
                {% csrf_token %}
                {% block messages %}
                {% include "operations/_messages.html" %}
                {% endblock %}
                <p>
                    {% crispy promo_signup_form %}
                <!--<hr>-->
                <p>
                <h5 class="sub-header"><strong>(Optional)</strong> If you like, you could share birthdays of your kids
                    to receive our special offers around that time</h5>
                <!-- add optional birthdays -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Birthday</label>
                    <div class="controls col-md-4">
                        <input type="date" class="form-control customdateinput" name="bdayDate" placeholder="Birthday" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default addButton">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

                <!-- Template for adding new birthday field -->
                <div class="form-group hide" id="bdayTemplate">
                    <label class="col-md-2 control-label">Birthday</label>
                    <div class="controls col-md-4">
                        <input type="date" class="form-control customdateinput" name="bdayDate" placeholder="Birthday" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default removeButton">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="aab controls col-md-2"></div>
                    <div class="controls col-md-4">
                        <input type="submit" name="submit" value="Sign Up!" class="btn btn-primary"
                               id="id_submit_promo_signup_form" onclick="return true"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <img src="{% static 'operations/images/farmers_mkt_lowen_gdns.jpg' %}">
        </div>
    </div>
</div>

<p>

    <script>
    $(document).ready(function() {
        $('#id_promo_signup_form')
            // Add button click handler
            .on('click', '.addButton', function() {
                var $template = $('#bdayTemplate'),
                    $clone    = $template
                                    .clone()
                                    .removeClass('hide')
                                    .removeAttr('id')
                                    .insertBefore($template);
            })

            // Remove button click handler
            .on('click', '.removeButton', function() {
                var $row = $(this).closest('.form-group');
                $row.remove();
            });
    });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>